@model CompanyProject.Models.Employee

@{
    ViewData["Title"] = "AddEmployee";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}


@if (ViewData["AddInfo"] != null)
{
    <h2 style="margin: 25px">@ViewData["AddInfo"].ToString()</h2>
}

<div class="row" style="margin: 25px;">
    <div class="col-md-4">
        <form asp-action="AddEmployee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Fname" class="control-label">First Name</label>
                <input asp-for="Fname" class="form-control" />
                <span asp-validation-for="Fname" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Lname" class="control-label">Last Name</label>
                <input asp-for="Lname" class="form-control" />
                <span asp-validation-for="Lname" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Mname" class="control-label">Middle Initial</label>
                <input asp-for="Mname" class="form-control" />
                <span asp-validation-for="Mname" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Sex" class="control-label">Gender</label>
                <input asp-for="Sex" class="form-control" />
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="BirthDate" class="control-label">Birth Day (YYYY-MM-DD)</label>
                <input asp-for="BirthDate" type="date" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="RoleName" class="control-label">Role (Insert either name or ID)</label>
                <input asp-for="RoleName" type="text" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>          
            <div class="form-group mb-3">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label for="check">check to insert by name</label>
                <input type="checkbox" id="check" name="check" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="SuperID" class="control-label">Supervisor ID (insert 0 for null)</label>
                <input asp-for="SuperID" name="SuperID" class="form-control" />
                <span asp-validation-for="SuperID" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="superFname" class="control-label">Supervisor First Name</label>
                <input asp-for="superFname" name="superFname" class="form-control" readonly />
                <span asp-validation-for="superFname" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="superMname" class="control-label">Supervisor Middle Initial</label>
                <input asp-for="superMname" name="superMname" class="form-control" readonly />
                <span asp-validation-for="superMname" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="superLname" class="control-label">Supervisor Last Name</label>
                <input asp-for="superLname" name="superLname" class="form-control" readonly />
                <span asp-validation-for="superLname" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="mb-3">
        <a asp-action="Index">Back to List</a>
    </div>
</div>

<script>

    var checkbox = document.querySelector("input[name=check]");

    checkbox.addEventListener("change", function () {
        if (this.checked) {
            document.querySelector("input[name=superFname]").removeAttribute('readonly');
            document.querySelector("input[name=superMname]").removeAttribute('readonly');
            document.querySelector("input[name=superLname]").removeAttribute('readonly');
            document.querySelector("input[name=SuperID]").setAttribute('readonly', true);
            document.querySelector("input[name=SuperID]").value = 0;
            checkbox.value = true;
        } else {
            document.querySelector("input[name=superFname]").setAttribute('readonly', true);
            document.querySelector("input[name=superMname]").setAttribute('readonly', true);
            document.querySelector("input[name=superLname]").setAttribute('readonly', true);
            document.querySelector("input[name=SuperID]").removeAttribute('readonly');
            checkbox.value = false;
        }
    });

</script>



