@model CompanyProject.Models.Asset

@{
    ViewData["Title"] = "DeleteAsset";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<h2 style="margin: 25px;">Delete Asset</h2>

<div class="row" style="margin: 25px;">
    <div class="col-md-4">
        <form asp-action="DeleteAsset">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="supID" class="control-label"></label>
                <input asp-for="supID" class="form-control" readonly />
                <span asp-validation-for="supID" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="assetID" class="control-label"></label>
                <input asp-for="assetID" class="form-control" readonly />
                <span asp-validation-for="assetID" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="type" class="control-label"></label>
                <input asp-for="type" class="form-control" readonly />
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="cost" class="control-label"></label>
                <input asp-for="cost" class="form-control" readonly />
                <span asp-validation-for="cost" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </form>
    </div>
    <div class="mb-3">
        <a asp-action="SupplierDetails" asp-route-id=@ViewData["asset"]>Back to List</a>
    </div>
</div>



