@model CompanyProject.Models.Supplier

@{
    ViewData["Title"] = "EditSupplier";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<h2 style="margin:25px">Edit Supplier</h2>

<div class="row" style="margin:25px">
    <div class="col-md-4">
        <form asp-action="EditSupplier">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="supID" class="control-label">Supplier ID</label>
                <input asp-for="supID" class="form-control" readonly />
                <span asp-validation-for="supID" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="product" class="control-label">Product (Required)</label>
                <input asp-for="product" class="form-control" />
                <span asp-validation-for="product" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="name" class="control-label">Name (Required)</label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="roleID">Roles (Optional)</label>
                <select asp-for="roleID" asp-items="@Model.Roles">
                    <option value="0">none</option>
                </select>
                <span asp-validation-for="roleID" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="mb-3">
        <a asp-action="Index">Back to List</a>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('select').selectize({
            sortField: 'text'
        });
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />


