@model CompanyProject.Models.Employee

@{
    ViewData["Title"] = "EditEmployee";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<h2 style="margin:25px">Edit Employee</h2>

<div class="row" style="margin:25px">
    <div class="col-md-4">
        <form asp-action="EditEmployee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Fname" class="control-label">First Name</label>
                <input asp-for="Fname" class="form-control" readonly />
                <span asp-validation-for="Fname" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Lname" class="control-label">Last Name</label>
                <input asp-for="Lname" class="form-control" readonly />
                <span asp-validation-for="Lname" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Mname" class="control-label">Middle Initial</label>
                <input asp-for="Mname" class="form-control" readonly />
                <span asp-validation-for="Mname" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" readonly />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Sex" class="control-label">Gender</label>
                <select asp-for="Sex" readonly asp-items="@Model.genders"></select>
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="BirthDate" class="control-label">Birth Day (YYYY-MM-DD)</label>
                <input asp-for="BirthDate" type="date" class="form-control" readonly />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="RoleID">Roles</label>
                <select asp-for="RoleID" asp-items="@Model.Roles">
                    <option value="0">none</option>
                </select>
                <span asp-validation-for="RoleID" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="DepName" class="control-label">Department</label>
                <input asp-for="DepName" class="form-control" readonly />
                <span asp-validation-for="DepName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="SuperID" class="control-label">Supervisor</label>
                <select asp-for="SuperID" asp-items="@Model.supervisors">
                    <option value="0">none</option>
                </select>
                <span asp-validation-for="SuperID" class="text-danger"></span>
            </div>    
            <div class="form-group mb-3" style="display:none;">
                <label asp-for="DepID" class="control-label">Department</label>
                <input asp-for="DepID" class="form-control" readonly />
                <span asp-validation-for="DepID" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="mb-3">
        <a asp-action="Index">Back to List</a>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('select').selectize({
            sortField: 'text'
        });
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

