
@{
    ViewData["Title"] = "Index";
    ViewBag.Title = "Manager View";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<style>
    #table-div {
        margin: 25px;
    }
</style>


<div style="margin: 25px">
    <h2>Manager View</h2>
    @if (ViewData["userInfo"] != null)
    {
        @ViewData["userInfo"];

    }
</div>

Table that shows each product's id, name, due date, field, and budget.

Table that shows task id, name, due date, budget, prodID or Projname, and the employee that is working on it.employee role can be included

Table shows department distributions

Table shows employee used by

supplier information??
