
@{
    ViewData["Title"] = "ProgressReport";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<h2 style="margin: 25px;">Progress Report</h2>

<div class="row" style="margin: 25px;">
    <div class="col-md-4">
        <form asp-action="ProgressReport">           
            <div class="form-group mb-3">
                <label for="ProjectID" class="control-label"></label>
                <input name="ProjectID" class="form-control" placeholder="Input Project ID" />
                @{ 
                    if (ViewData["inputError"] != null)
                    {
                        <span class="text-danger">@ViewData["inputError"]</span>
                    }
                }
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Generate" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="mb-3">
        <a asp-action="Index">Back to List</a>
    </div>
</div>

