@model CompanyProject.Models.Asset

@{
    ViewData["Title"] = "ActualDeleteAsset";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="margin: 25px;">Actual Delete Asset</h2>

<div class="row" style="margin: 25px;">
    <div class="col-md-4">
        <form asp-action="ActualDeleteAsset">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="assetID" class="control-label">Asset ID</label>
                <input asp-for="assetID" class="form-control" readonly />
                <span asp-validation-for="assetID" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="type" class="control-label">Type</label>
                <input asp-for="type" class="form-control" readonly />
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="cost" class="control-label"></label>
                <input asp-for="cost" class="form-control" readonly />
                <span asp-validation-for="cost" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="supName" class="control-label">Supplier Name</label>
                <input asp-for="supName" class="form-control" readonly />
                <span asp-validation-for="supName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="deleted_flag" class="control-label"></label>
                <input asp-for="deleted_flag" class="form-control" readonly />
                <span asp-validation-for="deleted_flag" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </form>
    </div>
    <div class="mb-3">
        <a asp-action="Index">Back to List</a>
    </div>
</div>


