@model CompanyProject.Models.Used_by

@{
    ViewData["Title"] = "DeleteUse";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="margin: 25px;">Delete Use</h2>

<div class="row" style="margin: 25px;">
    <div class="col-md-4">
        <form asp-action="DeleteUse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3" style="display:none">
                <label asp-for="employeeID" class="control-label"></label>
                <input asp-for="employeeID" class="form-control" readonly />
                <span asp-validation-for="employeeID" class="text-danger"></span>
            </div>
            <div class="form-group mb-3" style="display:none">
                <label asp-for="supID" class="control-label"></label>
                <input asp-for="supID" class="form-control" readonly />
                <span asp-validation-for="supID" class="text-danger"></span>
            </div>
            <div class="form-group mb-3" style="display:none">
                <label asp-for="assetID" class="control-label"></label>
                <input asp-for="assetID" class="form-control" readonly />
                <span asp-validation-for="assetID" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="fullName" class="control-label">Name</label>
                <input asp-for="fullName" class="form-control" readonly />
                <span asp-validation-for="fullName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="supName" class="control-label">Supplier</label>
                <input asp-for="supName" class="form-control" readonly />
                <span asp-validation-for="supName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="assetName" class="control-label">Asset</label>
                <input asp-for="assetName" class="form-control" readonly />
                <span asp-validation-for="assetName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="field" class="control-label"></label>
                <input asp-for="field" class="form-control" readonly />
                <span asp-validation-for="field" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </form>
    </div>
    <div class="mb-3">
        <a asp-action="Index">Back to List</a>
    </div>
</div>



