@model CompanyProject.Models.Distributed_to

@{
    ViewData["Title"] = "EditDistribution";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="margin: 25px;">Edit Distribution</h2>

<div class="row" style="margin: 25px;">
    <div class="col-md-4">
        <form asp-action="EditDistribution">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3" style="display:none">
                <label asp-for="tempSupID" class="control-label">Supplier ID</label>
                <input asp-for="tempSupID" class="form-control" readonly/>
                <span asp-validation-for="tempSupID" class="text-danger"></span>
            </div>
            <div class="form-group mb-3" style="display:none">
                <label asp-for="tempAssetID" class="control-label">Asset ID</label>
                <input asp-for="tempAssetID" class="form-control" readonly/>
                <span asp-validation-for="tempAssetID" class="text-danger"></span>
            </div>
            <div class="form-group mb-3" style="display:none">
                <label asp-for="tempDepID" class="control-label">Department ID</label>
                <input asp-for="tempDepID" class="form-control" readonly/>
                <span asp-validation-for="tempDepID" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="supName" class="control-label">Supplier</label>
                <input asp-for="supName" class="form-control" placeholder="insert either name or ID"/>
                <span asp-validation-for="supName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="assetName" class="control-label">Asset</label>
                <input asp-for="assetName" class="form-control" placeholder="insert either name or ID"/>
                <span asp-validation-for="assetName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="depName" class="control-label">Department</label>
                <input asp-for="depName" class="form-control" placeholder="insert either name or ID" />
                <span asp-validation-for="depName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="field" class="control-label">Status</label>
                <input asp-for="field" class="form-control" />
                <span asp-validation-for="field" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="mb-3">
        <a asp-action="Index">Back to List</a>
    </div>
</div>


