@model CompanyProject.Models.Used_by

@{
    ViewData["Title"] = "EditUse";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="margin: 25px;">Edit Use</h2>

<div class="row" style="margin: 25px;">
    <div class="col-md-4">
        <form asp-action="EditUse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label for="check">check to insert employee by name</label>
                <input type="checkbox" id="check" name="check" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="employeeID" class="control-label">EmployeeID</label>
                <input asp-for="employeeID" name="employeeID" class="form-control" />
                <span asp-validation-for="employeeID" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Fname" class="control-label">First Name</label>
                <input asp-for="Fname" name="Fname" class="form-control" readonly/>
                <span asp-validation-for="Fname" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Lname" class="control-label">Last Name</label>
                <input asp-for="Lname" name="Lname" class="form-control" readonly/>
                <span asp-validation-for="Lname" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Mname" class="control-label">Middle Name</label>
                <input asp-for="Mname" name="Mname" class="form-control" readonly/>
                <span asp-validation-for="Mname" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="supName" class="control-label">Supplier</label>
                <input asp-for="supName" class="form-control" />
                <span asp-validation-for="supName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="assetName" class="control-label">Asset</label>
                <input asp-for="assetName" class="form-control" />
                <span asp-validation-for="assetName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="field" class="control-label">Status</label>
                <input asp-for="field" class="form-control" />
                <span asp-validation-for="field" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="tempemployeeID" class="control-label"></label>
                <input asp-for="tempemployeeID" name="tempemployeeID" class="form-control" readonly />
                <span asp-validation-for="tempemployeeID" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="tempsupID" class="control-label"></label>
                <input asp-for="tempsupID" class="form-control" readonly />
                <span asp-validation-for="tempsupID" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none">
                <label asp-for="tempassetID" class="control-label"></label>
                <input asp-for="tempassetID" class="form-control" readonly />
                <span asp-validation-for="tempassetID" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="mb-3">
        <a asp-action="Index">Back to List</a>
    </div>
</div>


<script>

    var checkbox = document.querySelector("input[name=check]");

    checkbox.addEventListener("change", function () {
        if (this.checked) {
            document.querySelector("input[name=Fname]").removeAttribute('readonly');
            document.querySelector("input[name=Mname]").removeAttribute('readonly');
            document.querySelector("input[name=Lname]").removeAttribute('readonly');
            document.querySelector("input[name=employeeID]").setAttribute('readonly', true);
            document.querySelector("input[name=employeeID]").value = 0;
            checkbox.value = true;
        } else {
            document.querySelector("input[name=Fname]").setAttribute('readonly', true);
            document.querySelector("input[name=Mname]").setAttribute('readonly', true);
            document.querySelector("input[name=Lname]").setAttribute('readonly', true);
            document.querySelector("input[name=employeeID]").removeAttribute('readonly');
            document.querySelector("input[name=employeeID]").value = document.querySelector("input[name=tempemployeeID]").value;
            checkbox.value = false;
        }
    });

</script>