@model CompanyProject.Models.Asset

@{
    ViewData["Title"] = "EditAsset";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="margin: 25px;">Edit Asset</h2>

<div class="row" style="margin: 25px;">
    <div class="col-md-4">
        <form asp-action="EditAsset">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="assetID" class="control-label">Asset ID</label>
                <input asp-for="assetID" class="form-control" readonly />
                <span asp-validation-for="assetID" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="type" class="control-label">Type (Required)</label>
                <input asp-for="type" class="form-control" />
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="cost" class="control-label">Cost (Required)</label>
                <input asp-for="cost" class="form-control" />
                <span asp-validation-for="cost" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="supID">Supplier (Required)</label>
                <select asp-for="supID" asp-items="@Model.suppliers"></select>
                <span asp-validation-for="supID" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="mb-3">
        <a asp-action="Index">Back to List</a>
    </div>
</div>

<script>

    $(document).ready(function () {
        $('select').selectize({
            sortField: 'text'
        });
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
