@model CompanyProject.Models.Department

@{
    ViewData["Title"] = "EditDepartment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="margin:25px">EditDepartment</h2>

<div class="row" style="margin:25px">
    <div class="col-md-4">
        <form asp-action="EditDepartment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="depID" class="control-label">Department ID</label>
                <input asp-for="depID" class="form-control" readonly />
                <span asp-validation-for="depID" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="location" class="control-label">Location</label>
                <input asp-for="location" class="form-control" />
                <span asp-validation-for="location" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="depName" class="control-label">Department Name</label>
                <input asp-for="depName" class="form-control" />
                <span asp-validation-for="depName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label for="check">check to insert by name</label>
                <input type="checkbox" id="check" name="check" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="mgrID" class="control-label">Manager ID (0 for null)</label>
                <input asp-for="mgrID" class="form-control" />
                <span asp-validation-for="mgrID" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="mgrFname" class="control-label">Manager First Name</label>
                <input asp-for="mgrFname" name="mgrFname" class="form-control" readonly/>
                <span asp-validation-for="mgrFname" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="mgrMname" class="control-label">Manager Middle Inititial</label>
                <input asp-for="mgrMname" name="mgrMname" class="form-control" readonly/>
                <span asp-validation-for="mgrMname" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="mgrLname" class="control-label">Manager Last Name</label>
                <input asp-for="mgrLname" name="mgrLname" class="form-control" readonly/>
                <span asp-validation-for="mgrLname" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="mb-3">
        <a asp-action="Index">Back to List</a>
    </div>

</div>

<script>

    var checkbox = document.querySelector("input[name=check]");

    checkbox.addEventListener("change", function () {
        if (this.checked) {
            document.querySelector("input[name=mgrFname]").removeAttribute('readonly');
            document.querySelector("input[name=mgrMname]").removeAttribute('readonly');
            document.querySelector("input[name=mgrLname]").removeAttribute('readonly');
            document.querySelector("input[name=mgrID]").setAttribute('readonly', true);
            checkbox.value = true;
        } else {
            document.querySelector("input[name=mgrFname]").setAttribute('readonly', true);
            document.querySelector("input[name=mgrMname]").setAttribute('readonly', true);
            document.querySelector("input[name=mgrLname]").setAttribute('readonly', true);
            document.querySelector("input[name=mgrID]").removeAttribute('readonly');
            checkbox.value = false;
        }
    });

</script>